*.psd filter=lfs diff=lfs merge=lfs -text
*.spp filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.zpr filter=lfs diff=lfs merge=lfs -text
*.ztl filter=lfs diff=lfs merge=lfs -text
*.zbr filter=lfs diff=lfs merge=lfs -text
*.zbp filter=lfs diff=lfs merge=lfs -text
*.zmt filter=lfs diff=lfs merge=lfs -text